<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="background">
    <nav th:replace="fragments.html:: nav"></nav>
    <div th:if="${updateMessage}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <strong th:text="${updateMessage}">프로필이 수정되었습니다.</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-3">
                <div th:replace="fragments.html::accountSettingList('password')">
                </div>
            </div>
            <div class="col-9">
                <form th:action="@{/accounts/edit/password}" method="post" th:object="${updatePasswordForm}" >
                    <div class="form-group row">
                        <label class="font-weight-bold col-3 col-form-label text-right pr-4" for="currentPassword">현재 비밀번호</label>
                        <input id="currentPassword" type="password" th:field="*{currentPassword}" name="currentPassword" class="form-control col-6 text-muted"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></small>
                    </div>
                    <div class="form-group row">
                        <label class="font-weight-bold col-3 col-form-label text-right pr-4" for="password">새 비밀번호</label>
                        <input id="password" type="password" th:field="*{password}" name="password" class="form-control col-6 text-muted"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                    </div>
                    <div class="form-group row">
                        <label class="font-weight-bold col-3 col-form-label text-right pr-4" for="confirmPassword">새 비밀번호 확인</label>
                        <input id="confirmPassword" type="password" th:field="*{confirmPassword}" name="confirmPassword" class="form-control col-6 text-muted"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></small>
                    </div>
                    <div class="form-group row mt-5 justify-content-center">
                        <div class="col-6">
                            <button type="submit" class="form-control btn btn-primary col-2">변경</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html::footer"></div>
</body>
</html>

