<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments.html :: head"></head>
    <body class="background">
        <nav th:replace="fragments.html:: nav"></nav>
        <div class="container my-5">
            <div class="row mb-5">
                <div class="col-md-4 d-flex justify-content-center">
                    <i th:if="${#strings.isEmpty(targetAccount.profileImage)}" class="fa fa-user-circle text-white "
                       aria-hidden="true" style="font-size: 9em;"></i>
                    <img th:if="${!#strings.isEmpty(targetAccount.profileImage)}" class="img-fluid float-left rounded-circle img-thumbnail p-0"
                         th:src="${targetAccount.profileImage}" width="125" height="125"/>
                </div>
                <div class="col-md-8">
                    <div class="row mb-2">
                        <h2 th:text="${targetAccount.nickname}" style="font-weight: 300">nickname</h2>
                        <div th:if="${account != null && isOwner}" class="ml-4">
                            <a th:href="@{/accounts/edit/basicinfo}" class="btn btn-outline-primary" role="btn">프로필 편집</a>
                        </div>
                        <div id="follow-button-box" th:if="${account != null && !isOwner}" class="ml-4">
                            <button id="btn-follow" th:if="${!isFollowing}" type="button" class="btn btn-primary btn-follow">팔로우</button>
                            <button id="btn-unfollow" th:if="${isFollowing}" type="button" class="btn btn-danger btn-unfollow">언 팔로우</button>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2 p-0">
                            앨범 <span class="font-weight-bold" th:text="${activityData.getAlbumCount()}">0</span>
                        </div>
                        <div class="col-md-2 p-0">
                            <a class="text-dark" href="javascript:profile.popFollowerList()">
                                팔로워 <span id="follower" class="font-weight-bold" th:text="${activityData.getFollowerCount()}">0</span>
                            </a>
                        </div>
                        <div class="col-md-2 p-0">
                            <a class="text-dark" href="javascript:profile.popFollowingList()">
                                팔로잉 <span id="following" class="font-weight-bold" th:text="${activityData.getFollowingCount()}">0</span>
                            </a>
                        </div>
                    </div>
                    <div class="row flex-column">
                        <strong class="d-block" th:text="${targetAccount.name}">이름</strong>
                        <span class="line-2-hidden" th:utext="${targetAccount.bio}">
                            자기소개
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="profile-albums" class="container" style="z-index:3">
            <div id="album-list" class="row"></div>
            <div id="pagination" class="row justify-content-center"></div>
        </div>
        <!-- Modal -->
        <div th:replace="fragments.html::paging-modal(title='팔로우', id='follower-modal')"></div>
        <div th:replace="fragments.html::paging-modal(title='팔로잉', id='following-modal')"></div>

        <div th:replace="fragments.html::footer"></div>
        <div th:replace="fragments.html::ajax-csrf-header"></div>
        <script>
            $(function () {
                profile.init();
            });

            let profile = {
                init: function () {
                    let _this = this;
                    let requestAlbumObj = {
                        size: 8
                    }
                    _this.loadAlbums(requestAlbumObj, 0);
                    $('#follow-button-box').on('click', ".btn-follow, .btn-unfollow", function (event) {
                        let accountId = "[[${targetAccount.getId()}]]";
                        if ($(event.target).hasClass("btn-follow")) {
                            _this.follow(accountId, function(){
                                $('#btn-follow').addClass('btn-danger');
                                $('#btn-follow').addClass('btn-unfollow');
                                $('#btn-follow').removeClass('btn-primary');
                                $('#btn-follow').removeClass('btn-follow');
                                $('#btn-follow').text("언 팔로우");
                                $('#btn-follow').attr('id', 'btn-unfollow');

                                let followerCount = parseInt($('#follower').text());
                                if (!isNaN(followerCount)) {
                                    $('#follower').text(followerCount + 1);
                                }
                            });
                        } else {
                            _this.unfollow(accountId, function () {
                                $('#btn-unfollow').addClass('btn-primary');
                                $('#btn-unfollow').addClass('btn-follow');
                                $('#btn-unfollow').removeClass('btn-danger');
                                $('#btn-unfollow').removeClass('btn-unfollow');
                                $('#btn-unfollow').text("팔로우");
                                $('#btn-unfollow').attr('id', 'btn-follow');

                                let followerCount = parseInt($('#follower').text());
                                if (!isNaN(followerCount)) {
                                    $('#follower').text(followerCount - 1);
                                }
                            });
                        }
                    });
                    $('#pagination').on('click', '.page-link', function () {
                        let page = $(this).attr('data-index');
                        _this.loadAlbums(requestAlbumObj, page);
                    });
                    $('#follower-modal #modal-pagination').on('click', '.btn-page', function () {
                        let gotoPage = $(this).attr('data-index');
                        _this.loadFollowers(gotoPage);
                    });
                    $('#following-modal #modal-pagination').on('click', '.btn-page', function () {
                        let gotoPage = $(this).attr('data-index');
                        _this.loadFollowings(gotoPage);
                    });

                    $('#follower-modal, #following-modal').on('click', '.btn-follow, .btn-unfollow', function (event) {
                        let btn = $(this)[0];
                        let targetId = btn.getAttribute('data-index');

                        if ($(event.target).hasClass('btn-follow')) {
                            _this.follow(targetId, function () {
                                $(btn).addClass('btn-danger');
                                $(btn).addClass('btn-unfollow');
                                $(btn).removeClass('btn-primary');
                                $(btn).removeClass('btn-follow');
                                $(btn).text("언 팔로우");
                            });
                        } else {
                            _this.unfollow(targetId, function () {
                                $(btn).addClass('btn-primary');
                                $(btn).addClass('btn-follow');
                                $(btn).removeClass('btn-danger');
                                $(btn).removeClass('btn-unfollow');
                                $(btn).text("팔로우");
                            });
                        }
                    });
                },
                follow: function (targetId, callback) {
                    let _callback = callback;

                    $.ajax({
                        url: "/api/v1/accounts/" + targetId + "/follow",
                        method: 'post',
                    }).done(function (data) {
                        if (data) {
                            _callback();
                        }
                    }).fail(function () {
                        alert("팔로우를 실패하였습니다.");
                    });
                },
                unfollow: function (targetId, callback) {
                    let _callback = callback;

                    $.ajax({
                        url: "/api/v1/accounts/" + targetId + "/unfollow",
                        method: 'post',
                    }).done(function (data) {
                        if (data) {
                            _callback();
                        }
                    }).fail(function () {
                        alert("언팔로우를 실패하였습니다.");
                    });
                },
                popFollowerList: function () {
                    this.loadFollowers(0);

                    $('#follower-modal').modal();
                },
                popFollowingList: function () {
                    this.loadFollowings(0);

                    $('#following-modal').modal();
                },
                loadFollowers: function (page) {
                    let _this = this;

                    $.ajax({
                        url: '/partial/accounts/[[${targetAccount.getId()}]]/followers?page=' + page,
                        method: 'get',
                    }).done(function (data) {
                        _this._clearFollowers();
                        _this._appendFollowers(data);
                    }).fail(function () {
                        alert("팔로워들을 로드하는데 실패했습니다.");
                    });
                },
                loadFollowings: function (page) {
                    let _this = this;

                    $.ajax({
                        url: '/partial/accounts/[[${targetAccount.getId()}]]/followings?page=' + page,
                        method: 'get',
                    }).done(function (data) {
                        _this._clearFollowings();
                        _this._appendFollowings(data);
                    }).fail(function () {
                        alert("팔로잉들을 로드하는데 실패했습니다.");
                    });
                },
                loadAlbums: function (requestObj, page) {
                    requestObj.page = page;
                    let _this = this;

                    $.ajax({
                        url: '/partial/profile/albums',
                        method: 'GET',
                        data: requestObj
                    }).done(function (data) {
                        _this._clearAlbums();
                        _this._appendAlbums(data);
                    }).fail(function (){
                        alert("앨범들을 로드하는데 실패했습니다.");
                    });
                },
                _clearFollowers: function () {
                    $('#follower-modal .modal-body').empty();
                    $('#follower-modal .modal-footer').empty();
                },
                _appendFollowers: function (data) {
                    $('#follower-modal .modal-body').append(data['listHtml']);
                    $('#follower-modal .modal-footer').append(data['paginationHtml']);
                },
                _clearFollowings: function () {
                    $('#following-modal .modal-body').empty();
                    $('#following-modal .modal-footer').empty();
                },
                _appendFollowings: function (data) {
                    $('#following-modal .modal-body').append(data['listHtml']);
                    $('#following-modal .modal-footer').append(data['paginationHtml']);
                },
                _clearAlbums: function () {
                    $('#album-list').empty();
                    $('#pagination').empty();
                },
                _appendAlbums: function (data) {
                    $('#album-list').append(data['listHtml']);
                    $('#pagination').append(data['paginationHtml']);
                },
            }
        </script>
</body>
</html>

