</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/album_update.js"></script>
<script src="/js/app/album_save.js"></script>

<script src="/js/api/lastfm.api.md5.js"></script>
<script src="/js/api/lastfm.api.js"></script>
<script src="/js/api/lastfm.api.cache.js"></script>
<script src="/js/app/track_search.js"></script>

<script src="/js/api/youtube.api.auth.js"></script>
<script src="/js/app/youtube_search.js"></script>
<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
</body>
</html>
