body{
    height: 100vh;
    font-size: 16px;
}
.background{
    background-color: mistyrose;
}
.divider{
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.navbar-nav .dropdown-menu{
    z-index:1000000;
}
.font-weight-bold{
    font-weight: 600!important;
}
.nav-tabs-wrapper-up{
    border-top: 1px solid #dbdbdb;
}
.nav-tabs-wrapper-up .nav-tabs {
    border: none;
}
.nav-tabs-wrapper-up .nav-tabs .nav-link{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-tabs-wrapper-up .nav-link:hover {
    border: 1px solid mistyrose;
}
.nav-tabs-wrapper-up .nav-tabs .nav-item.show .nav-link, .nav-tabs-wrapper-up .nav-tabs .nav-link.active {
    background-color: mistyrose;
    border: 1px solid mistyrose;
    border-top: 1px solid #495057;
    color: #495057;
}


