body{
    height: 100vh;
    font-size: 16px;
}
.background{
    background-color: #f1dfdd;
}
.divider{
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.navbar-nav .dropdown-menu{
    z-index:1000000;
}
.font-weight-bold{
    font-weight: 600!important;
}
.nav-tabs-wrapper-up{
    border-top: 1px solid #dbdbdb;
}
.nav-tabs-wrapper-up .nav-tabs {
    border: none;
}
.nav-tabs-wrapper-up .nav-tabs .nav-link{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-tabs-wrapper-up .nav-link:hover {
    border: 1px solid mistyrose;
}
.nav-tabs-wrapper-up .nav-tabs .nav-item.show .nav-link, .nav-tabs-wrapper-up .nav-tabs .nav-link.active {
    background-color: mistyrose;
    border: 1px solid mistyrose;
    border-top: 1px solid #495057;
    color: #495057;
}
span.line-2-hidden{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
i.badge{
    position:relative;
}
i.badge:after{
    content: "";
    position: absolute;
    right: 0.6rem;
    bottom: 1rem;
    background: darkturquoise;
    width:0.25rem;
    height:0.25rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 1rem;
    border-radius: 50%;
}

.y-scroll{
    overflow-y:auto;
    overflow-x:hidden;
}
.notification-item{
    background-color: rgb(242,245,245);
}
.notification .checked {
    background-color: white;
}

.list-group-flush .list-group-item{
    background-color: #f1dfdd;
    border-color: #f1dfdd;
    border-bottom: 2px solid #f1dfdd;
    color: #bb7977;
}
.list-group-flush .list-group-item.active{
    background-color: #f1dfdd;
    border-color : #f1dfdd;
    border-bottom: 2px solid #f1cbc8;
    font-weight: 800;
}
.bg-alert {
    background-color: #f1cbc8;
}
#search-box {
    position: relative;
}
#search-box #search-input, #search-box .hint {
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
}
#search-box label{
    position: absolute;
    left: 17px;
    top: 5px;
    font-size: 18px;
}
#search-box .dropdown {
    position: absolute;
    right: 10px;
    top: 7px;
    width:20px;
}
.card-description-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    padding : 10px;
    font-size: 0.8em;
    font-weight: 600;
    z-index: 3;
}
a.card-description-panel {
    text-decoration: none;
}
a.card-description-panel:hover {
    color: whitesmoke;
}
.card{
    width: 250px;
    height: 280px;
}
.card .card-img-top {
    height: 150px;
}
.card img.card-img-top {
    width:130px;
    height: 130px;
}
#profile-albums .card{
    height: 250px;
}
#profile-albums .card img.card-img-top {
    width:100px;
    height: 100px;
}
#profile-albums .card-description-panel {
    height: 250px;
}
#profile-albums .card .card-img-top {
    height: 120px;
}
mark{
    background-color: darkorange;
}
#search-word {
    font-weight: 600;
}
.modal .btn {
    font-size: 0.7em;
}
.btn-follow {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-follow:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-unfollow {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-unfollow:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}