<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="background">
    <nav th:replace="fragments.html:: nav"></nav>
    <div class="container my-5">
        <div class="row">
            <div class="col-7">
                <div class="row pb-5" th:object="${albumDetailView}">
                    <div class="col-5">
                        <div class="image-box d-flex justify-content-center" style="height:185.3px">
                            <img th:if="${#strings.isEmpty(albumDetailView.getAlbumImage())}" src="/images/album-default.jpg" class="col-9 rounded-circle">
                            <img th:if="${!#strings.isEmpty(albumDetailView.getAlbumImage())}" th:src="${albumDetailView.getAlbumImage()}" class="col-9 rounded-circle">
                        </div>
                    </div>
                    <div class="col-7 pr-5">
                        <div class="row justify-content-start pb-3">
                            <h3><span th:text="${albumDetailView.getTitle()}" class="pr-3">제목</span></h3>
                            <a th:if="${#authentication.name.equals(albumDetailView.getCreator())}" th:href="@{'/albums/' + ${albumDetailView.getId()} + '/update'}" class="text-decoration-none btn btn-info mr-2" role="button">
                                <h5 class="m-0">수정 <i class="fa fa-cog pl-1"></i></h5>
                            </a>
                            <button th:if="${#authentication.name.equals(albumDetailView.getCreator())}" class="text-decoration-none btn btn-outline-danger"
                                    data-toggle="modal" data-target="#delete-album-modal">
                                <h5 class="m-0">삭제 <i class="fa fa-trash-o pl-1"></i></h5>
                            </button>
                        </div>
                        <div class="divider"></div>
                        <div class="row text-muted y-scroll" style="height: 100px;"><span th:utext="${albumDetailView.description}">앨범 소개</span></div>
                        <div class="row justify-content-end pb-4 pt-2"><small class="row text-muted relative-time" th:text="${albumDetailView.getCreatedDate}">앨범 생성 날짜</small></div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <table id="tracks_table" class="table table-bordered border-primary w-100 m-0">
                        <thead>
                            <tr class="table-header">
                                <th scope="col">음원 명</th>
                                <th scope="col">아티스트</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row" th:each="track: ${trackList}">
                                <td th:text="${track.getName()}"></td>
                                <td th:text="${track.getArtist()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-5 bg-light pt-2">
                <div class="row pb-1 sticky-top">
                    <div class="col-2 d-flex pt-2 justify-content-center">
                        <i th:if="${#strings.isEmpty(albumDetailView.creatorProfileImage)}" class="fa fa-user-circle text-dark "
                           aria-hidden="true" style="font-size: 2.5em;"></i>
                        <img th:if="${!#strings.isEmpty(albumDetailView.creatorProfileImage)}" class="img-fluid float-left rounded-circle img-thumbnail p-0"
                             th:src="${albumDetailView.creatorProfileImage}"/>
                    </div>
                    <div class="col-10">
                        <div class="row pb-1">
                            <a th:href="@{'/accounts/' + ${albumDetailView.creator}}" class="text-dark">
                                <span class="font-weight-bold" style="font-size: 1.1em" th:text="${albumDetailView.creator}">작성자 닉네임</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <!-- 댓글들 -->
                <div id="comments" class="y-scroll" style="height: 380px;"></div>
                <div class="divider"></div>
                <!-- 댓글 입력 창 -->
                <div class="row justify-content-center">
                    <div th:if="${account == null}" class="w-100 pb-2">
                        <div class="col-12 text-center">
                            <span class="font-weight-bold text-muted">
                                댓글은
                                <a th:href="@{/login}" class="text-primary text-decoration-none font-weight-bold">로그인</a>
                                후 이용하실 수 있습니다.
                            </span>
                        </div>
                    </div>
                    <div class="row w-100 pb-2" th:if="${account != null}">
                        <div  class="col-10">
                            <textarea id="input-comment" class="form-control auto-size" placeholder="댓글 달기..." style="height: 40px; resize:none"></textarea>
                        </div>
                        <div class="col-2 p-0 d-flex align-items-center">
                            <button id="btn-submit-comment" class="btn  btn-primary">게시</button>
                        </div>
                    </div>
                    <div id="pagination" class="row" style="font-size:0.8em"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-album-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 앨범 삭제</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>앨범을 삭제하시려면 아래의 문자를 입력해주세요.</p>
                    <p id="delete-hint" class="text-danger text-center font-weight-bold">
                        Delete <span th:text="${albumDetailView.title}"></span>
                    </p>
                    <input id="delete-hint-input" type="text" class="form-control" th:placeholder="'Delete ' + ${albumDetailView.title}">
                    <p>
                        <small class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 삭제된 앨범은 복구할 수 없습니다.</small>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btn-delete" type="button" class="btn btn-danger" disabled>Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html::footer"></div>
    <script>
        $(function () {
            detail.loadComments(0);
            detail.init();
        });
        let albumId = "[[${albumDetailView.id}]]";
        let detail = {
            init: function () {
                const _this = this;
                $('#pagination').on('click', '.btn-page', function () {
                    var gotoPage = $(this).attr('data-index');
                    _this.loadComments(gotoPage);
                });

                $('#btn-submit-comment').on('click', function () {
                    var content = $('#input-comment').val();
                    _this.submitComment(content);
                    $('#input-comment').val("");
                });
                $('#delete-hint-input').on('keyup', function (e) {
                    let val = $(this).val();
                    let deleteHint = $('#delete-hint').text().trim();
                    console.log(val);
                    console.log(deleteHint);
                    if (val === deleteHint) {
                        $('#btn-delete').removeAttr("disabled");
                    } else {
                        $('#btn-delete').attr("disabled", "disabled");
                    }
                });
                $('#btn-delete').on('click', function () {
                    $.ajax({
                        url: '/api/v1/albums/' + albumId,
                        method: 'delete'
                    }).done(function () {
                        alert("앨범이 삭제되었습니다.");
                        window.location.href = "/";
                    }).fail(function (e) {
                        alert(e.responseJSON.errorMessage);
                    });
                });
            },
            loadComments: function (page) {
                var _this = this;

                $.ajax({
                    url: '/partial/albums/' + albumId + '/comments?page=' + page,
                    method: 'GET',
                }).done(function (data) {
                    _this._clearComments();
                    _this._appendComments(data);
                    _this._addEventToRemoveCommentBtn();
                }).fail(function (){
                    alert("댓글들을 로드하는데 실패했습니다.");
                });
            },
            submitComment: function (content) {
                var _this = this;
                if (content === "" || content == null) {
                    alert("댓글 내용을 입력해주세요");
                    return;
                }
                const data = {
                    content: content.replace(/\n/gm, "<br>")
                }
                $.ajax({
                    url: "/api/v1/albums/" + albumId + "/comments",
                    method: 'post',
                    data: data
                }).done(function () {
                    _this.loadComments(0);
                }).fail(function (error) {
                    alert(error.responseJSON.errorMessage);
                });
            },
            removeComment: function (commentId) {
                var _this = this;

                $.ajax({
                    url: "/api/v1/albums/" + albumId + "/comments/" + commentId,
                    method: 'delete',
                }).done(function () {
                    _this.loadComments(0);
                }).fail(function () {
                    alert("댓글을 삭제하는데 실패했습니다.");
                });
            },
            _addEventToRemoveCommentBtn: function () {
                var _this = this;
                $('button[id^=comment_]').on('click', function () {
                    var commentId = $(this).attr('id').replace("comment_", "");
                    _this.removeComment(commentId);
                });
            },
            _clearComments: function () {
                $('#comments').empty();
                $('#pagination').empty();
            },
            _appendComments: function (data) {
                $('#comments').append(data['listHtml']);
                $('#pagination').append(data['paginationHtml']);
            }
        }
    </script>
</body>
</html>

