<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="background">
    <div th:replace="fragments.html::filepond-css"></div>
    <nav th:replace="fragments.html:: nav"></nav>
    <div class="container my-5">
        <div class="row">
            <div class="col-3">
                <div class="list-group list-group-flush" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list_album_info" data-toggle="list" href="#album_info" role="tab" aria-controls="album">앨범 정보</a>
                    <a class="list-group-item list-group-item-action" id="list_track_info" data-toggle="list" href="#tracks_info" role="tab" aria-controls="tracks">음원 리스트 정보</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active col-6" id="album_info" role="tabpanel" aria-labelledby="list_album_info" th:object="${album}">
                        <h2>앨범 정보</h2>
                        <br>
                        <div class="form-group">
                            <label class="col-form-label text-muted" for="album-title">앨범 이미지</label>
                            <input th:if="${!#strings.isEmpty(album.albumImage)}" type="text" class="filepond-origin form-control" th:value="*{albumImage}" hidden/>
                            <input type="file" id="album-image" class="filepond filepond-input filepond-albumImage" name="filepond" aria-describedby="imageHelp" accept="image/png, image/jpeg"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label text-muted" for="album-title">앨범 제목</label>
                            <input type="text" name="title" class="form-control" id="album-title" aria-describedby="albumHelp" th:field="*{title}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label text-muted" for="album-title">앨범 소개</label>
                            <textarea name="description" id="album-description" class="form-control" th:field="*{description}" rows="3" ></textarea>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tracks_info" role="tabpanel" aria-labelledby="list_track_info">
                        <h2>음원 리스트 정보</h2>
                        <br>
                        <button id="btn-add" class="btn btn-primary mb-2">추가하기</button>
                        <table id="tracks_table" class="table w-100">
                            <thead>
                                <tr>
                                    <th scope="col"hidden>ID</th>
                                    <th scope="col" style="width:90px">상태</th>
                                    <th scope="col">음원 명</th>
                                    <th scope="col">아티스트</th>
                                    <th scope="col" class="w-10"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="track : ${tracks}">
                                    <td hidden>
                                        <input type="text" class="form-control track-id" th:value="${track.id}">
                                    </td>
                                    <td>
                                        <span class="form-control text-center track-status text-muted" th:stat="${track.status}" th:text="${track.status.getName()}"></span>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control track-name" th:value="${track.name}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control track-artist" th:value="${track.artist}">
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-danger btn-remove">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row d-flex justify-content-center pt-5">
                            <button class="btn btn-success" id="btn-update">수정하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html::footer"></div>
    <script th:replace="fragments.html::ajax-csrf-header"></script>
    <div th:replace="fragments.html::filepond-js"></div>
    <script>
        $(function () {
            util.toNewLine("#album-description");

            updateAlbum.init();
        });

        let updateAlbum = {
            init: function () {
                let _this = this;

                $("#btn-add").on('click', function(){
                    _this._addRow();
                });
                $('tbody').on('click', '.btn-remove', function () {
                    let $row = $(this).closest('tr');
                    _this._removeRow($row);
                });

                $('tbody').on('click', '.btn-refresh', function () {
                    let $row = $(this).closest('tr');
                    _this._refreshRow($row);
                });

                $('tr').on('keydown', function () {
                    let $statusTag = $(this).find(".track-status");

                    let curStatus = $statusTag.attr("stat");

                    if (curStatus === "NONE") {
                        $statusTag.attr("stat", "UPDATE");
                        $statusTag.text("수정");
                    }
                });
                $('#btn-update').on('click', function () {
                    _this._update();
                });
            },
            _refreshRow: function ($row) {
                $row.removeClass ("removed");
                $row.find("input").each(function () {
                    $(this).removeAttr("disabled");
                });
                $row.find(".track-status").attr("stat", "UPDATE").text("수정");
                $row.find('.fa-refresh').addClass("fa-minus").removeClass("fa-refresh");
                $row.find('.btn-refresh').addClass("btn-remove").removeClass("btn-refresh");
                $row.find('.btn-success').addClass('btn-danger').removeClass('btn-success');
            },
            _removeRow: function ($row) {
                let saveTrackCount = 0;
                $('tbody').find("tr").each(function () {
                    let status = $(this).find('.track-status').attr("stat");
                    if (status !== "REMOVE") {
                        saveTrackCount++;
                    }
                });
                if (saveTrackCount <= 1) {
                    alert("트랙의 수는 최소 1개입니다.");
                    return;
                }
                let curStatus = $row.find('.track-status').attr("stat");

                if (curStatus === "INSERT") {
                    $row.remove();
                    return;
                }
                $row.addClass("removed");
                $row.find('.track-status').attr("stat", "REMOVE").text("삭제");
                $row.find('i.fa-minus').addClass("fa-refresh").removeClass("fa-minus");
                $row.find('.btn-remove').addClass("btn-refresh").removeClass("btn-remove");
                $row.find('.btn-danger').addClass('btn-success').removeClass('btn-danger');
                $row.find("input").each(function () {
                    $(this).attr("disabled", "disabled");
                });
            },
            _update: function () {
                let tracks = [];

                $('tbody > tr').each(function () {
                    let $row = $(this);

                    tracks.push({
                        id: $row.find(".track-id").val(),
                        name: $row.find(".track-name").val(),
                        artist: $row.find(".track-artist").val(),
                        status: $row.find(".track-status").attr("stat"),
                    });
                });

                let data = {
                    title: $('#album-title').val(),
                    description: $('#album-description').val().replace(/\n/gm, "<br>"),
                    albumImage: document.querySelector('.filepond-input canvas')?.toDataURL(),
                    tracks: tracks
                };

                $.ajax({
                    url: "/api/v1/albums/[[${album.getId()}]]",
                    method: 'PUT',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(data)
                }).done(function () {
                    window.location.href = '/albums/[[${album.getId()}]]';
                    alert("앨범이 수정되었습니다.");
                }).fail(function (error) {
                    alert(error.responseJSON.errorMessage);
                });
            },
            _addRow: function () {
                let saveTrackCount = 0;
                $('tbody').find("tr").each(function () {
                    let status = $(this).find('.track-status').attr("stat");
                    if (status !== "REMOVE") {
                        saveTrackCount++;
                    }
                });
                if (saveTrackCount >= 5) {
                    alert("트랙의 수는 최대 5개입니다.");
                    return;
                }
                let rowTag =
                    `<tr>
                        <td hidden>
                            <input type="text" class="form-control track-id">
                        </td>
                        <td>
                            <span class="form-control text-center track-status text-muted" stat="INSERT">삽입</span>
                        </td>
                        <td>
                            <input type="text" class="form-control track-name">
                        </td>
                        <td>
                            <input type="text" class="form-control track-artist">
                        </td>
                        <td class="text-center">
                            <button class="btn btn-danger btn-remove">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>`;

                $('tbody').prepend(rowTag);
            }
        }
    </script>
    <script>
        pond.on('init', function () {
            var dataUrl = $('.filepond-origin').val();
            if (dataUrl) {
                pond.addFile(dataUrl);
            }
        });
    </script>
</body>
</html>

