<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="background">
<nav th:replace="fragments.html:: nav"></nav>
<div class="container my-5">
    <div class="row">
        <div class="col-3">
            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" target="all" data-toggle="list" role="button">전체 알림</a>
                <a class="list-group-item list-group-item-action" targe="follow" data-toggle="list" role="button" >팔로우 알림</a>
                <a class="list-group-item list-group-item-action" targe="comment" data-toggle="list" role="button" >댓글 알림</a>
                <a class="list-group-item list-group-item-action" targe="newAlbum" data-toggle="list" role="button" >새 앨범 업로드 알림</a>
            </div>
        </div>
        <div class="col-9">

        </div>
    </div>
</div>
<div th:replace="fragments.html::footer"></div>
<script th:replace="fragments.html::ajax-csrf-header"></script>
<script>
    $(function(){
        notification_list.init();
    });
    var notification_list = {
        init: function () {
            var active = $('.list-group-item-action.active').attr('target');
            console.log(active);
        }
    }
</script>
</body>
</html>

