<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="background">
<nav th:replace="fragments.html:: nav"></nav>
<div class="container my-5">
    <div class="row">
        <div class="col-3">
            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" target="all" data-toggle="list" role="button">전체 알림</a>
                <a class="list-group-item list-group-item-action" target="follow" data-toggle="list" role="button" >팔로우 알림</a>
                <a class="list-group-item list-group-item-action" target="comment" data-toggle="list" role="button" >댓글 알림</a>
                <a class="list-group-item list-group-item-action" target="created_album_by_follower" data-toggle="list" role="button" >새 앨범 업로드 알림</a>
            </div>
        </div>
        <div class="col-9" style="height:600px">
            <div id="notification-list" class="notification col-12" style="height:100%">

            </div>
            <div id="pagination" class="w-100 d-flex justify-content-center col-12">

            </div>
        </div>
    </div>
</div>
<div th:replace="fragments.html::footer"></div>
<script>
    $(function(){
        notification_list.init();
        notification_list.loadList("all", 0);
    });
    var notification_list = {
        init: function () {
            const _this = this;
            notification.init();

            $('#list-tab').on('click', '.list-group-item', function () {
                const clickType = $(this).attr('target');
                _this.loadList(clickType, 0);
            });
            $('#pagination').on('click', '.page-link', function () {
                const page = $(this).attr('data-index');
                const currentType = $('.list-group-item.active').attr('target');
                _this.loadList(currentType, page);
            });
            $('#notification-list').on('click', '.btn-all-check', function () {

                const currentType = $('.list-group-item.active').attr('target');

                $.ajax({
                    url: "/api/v1/notifications",
                    method: "put",
                    data: {type: currentType}
                }).done(function () {
                    _this.loadList(currentType, 0);
                }).fail(function (error) {
                    console.log(error);
                });
            });
        },
        loadList: function (type, page) {
            $.ajax({
                url: "/partial/notifications",
                method: "GET",
                data: {
                    type: type,
                    page: page
                }
            }).done(function (data) {
                $('#notification-list').empty();
                $('#pagination').empty();

                $('#notification-list').append(data['listHtml']);
                $('#pagination').append(data['paginationHtml']);

                dateConverter.formRelativeTime("#notification-list");
            }).fail(function () {
                alert("알림 리스트를 로드하는데 실패했습니다.");
            });
        }
    }
</script>
</body>
</html>

