<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/custom/css/main.css"/>
</head>
<body>
    <nav th:fragment="nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand text-center" th:href="@{/}">
                ShareMusic
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                            <div id="search-box">
                                <label for="search-input">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </label>
                                <input id="search-input" class="form-control input-lg"
                                       th:placeholder="${#strings.isEmpty(typeName) ? '앨범 이름 검색' : typeName+' 검색'}"
                                       th:search-type="${#strings.isEmpty(type) ? 'ALBUM_NAME' : type}"
                                      autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
                                <div class="dropdown text-center" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="dropdown-toggle"></span>
                                </div>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="searchDropdown" >
                                    <span class="dropdown-item" th:each="searchType: ${searchTypes}"
                                          th:text="${searchType.getName()}" th:value="${searchType.name()}">Condition1
                                    </span>
                                </div>
                            </div>
                    </li>
                </ul>

                <ul sec:authorize="!isAuthenticated()" class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-sign-in fa-lg text-white" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/login}"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>&nbsp; 로그인</a>
                            <a class="dropdown-item" th:href="@{/accounts/signup}"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>&nbsp; 회원가입</a>
                        </div>
                    </li>
                </ul>
                <ul sec:authorize="isAuthenticated()" class="navbar-nav">
                    <li class="nav-item pr-2">
                        <a class="btn" th:href="@{/albums}"
                           th:classappend="${account.getRole().name().equals('USER')} ? 'btn-primary' : 'btn-secondary disabled'">
                            <i class="fa fa-plus" aria-hidden="true"></i> 앨범 만들기
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i th:if="${notReadCount == 0}" class="fa fa-bell-o fa-lg text-white pr-2" aria-hidden="true"></i>
                            <div th:if="${notReadCount > 0}">
                                <i class="fa fa-bell fa-lg text-info" aria-hidden="true"><i class="badge"> </i></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="width:450px" aria-labelledby="eventDropdown">
                            <div class="row justify-content-center " style="font-size:1.2em">
                                <strong>읽지 않은 알림 <span class="text-success" th:text="${notReadCount}"></span>개</strong>
                            </div>
                            <div class="divider row"></div>
                            <div th:if="${!hasNotification}" class="row justify-content-center align-items-center m-0 mb-4" style="height:300px">
                                <h5 class="font-weight-bold">알림이 없습니다!</h5>
                            </div>
                            <div th:if="${hasNotification}" class="notification y-scroll m-0 mb-4" style="height:300px">
                                <div class="row pb-3 notification-item m-0" th:each="notification: ${notifications}" th:classappend="${notification.checked == true} ? checked" style="cursor: pointer">
                                    <div class="col-2 d-flex justify-content-center align-items-center pr-0">
                                        <i class="fa fa-user-circle" style="font-size: 2.2em" th:if="${#strings.isEmpty(notification.senderProfileImage)}"></i>
                                        <img class="rounded-circle" style="width:40px; height:40px" th:if="${!#strings.isEmpty(notification.senderProfileImage)}" th:src="${notification.senderProfileImage}">
                                    </div>
                                    <div class="col-8 pl-1">
                                        <a th:data-index="${notification.id}" th:link="${notification.link}" class="text-decoration-none text-dark p-0 notification-link" role="button">
                                            <span class="line-2-hidden w-100">
                                                <span th:text="${notification.message}">메시지</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-2 p-0 d-flex justify-content-end align-items-center pr-2">
                                        <span class="text-muted date relative-time" style="font-size: 0.7em" th:text="${notification.createdDate}">10일 전</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100" style="position: absolute; bottom:0px">
                                <a role="button" class="btn btn-success w-100 font-weight-bold rounded-0" th:href="@{/notifications}">더 많은 알림 보기</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i th:if="${#strings.isEmpty(account.profileImage)}" class="fa fa-user-circle fa-lg text-white" aria-hidden="true"></i>
                            <img th:if="${!#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded-circle img-thumbnail p-0"
                                 th:src="${account.profileImage}" width="23" height="23"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{'/accounts/' + ${#authentication.getName()}}">
                                <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                                &nbsp; <span th:text="${#authentication.getName()}">닉네임</span>
                            </a>
                            <a class="dropdown-item" th:href="@{/accounts/edit/basicinfo}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; 설정</a>
                            <div class="dropdown-divider"></div>
                            <form id="logoutForm" class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                                <a href="javascript:$('#logoutForm').submit()" class="dropdown-item">
                                    <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; 로그아웃
                                </a>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div th:fragment="accountSettingList (currentMenu)" class="list-group list-group-flush" role="tablist">
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'basicInfo'} ? active" th:href="@{/accounts/edit/basicinfo}">기본 정보 변경</a>
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'} ? active" th:href="@{/accounts/edit/password}">비밀번호 변경</a>
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notification'} ? active" th:href="@{/accounts/edit/notification}">알림 설정</a>
    </div>

    <div th:fragment="albumCardList(list)" id="album-card" class="col-md-3" th:each="albumInfo : ${list}">
        <a th:href="@{'/albums/' + ${albumInfo.albumId}}" class="card-description-panel container shadow fade">
            <div class="row" th:each="track: ${albumInfo.tracks}">
                <div class="col-12 text-center">
                    <span class="track-name" th:text="${track.name}">음원 이름</span>
                    <span class="pr-2 pl-2">/</span>
                    <small class="track-artist" th:text="${track.artist}">아티스트</small>
                </div>
            </div>
        </a>
        <div class="text-decoration-none text-dark card mb-4 shadow">
            <div class="card-img-top d-flex justify-content-center bg-light py-2">
                <img th:if="${#strings.isEmpty(albumInfo.albumImage)}" src="/images/album-default.jpg" class="card-img-top bg-light rounded-circle">
                <img th:if="${!#strings.isEmpty(albumInfo.albumImage)}" th:src="${albumInfo.albumImage}" class="card-img-top bg-light rounded-circle">
            </div>
            <div class="card-body">
                <h5 class="card-title font-weight-bold" th:text="${albumInfo.title}">title</h5>
                <div style="font-size:0.7em; height:30px" class="card-text line-2-hidden" th:utext="${albumInfo.description}">Short description</div>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <small class="text-muted">
                            <i class="fa fa-music pr-2" aria-hidden="true"></i>
                            <span th:text="${albumInfo.trackCount}"></span>곡
                        </small>
                    </div>
                    <div>
                        <small>
                            <i th:if="${#strings.isEmpty(albumInfo.creatorProfileImage)}" class="fa fa-user-circle"></i>
                            <img width="23" height="23" th:if="${!#strings.isEmpty(albumInfo.creatorProfileImage)}" th:src="${albumInfo.creatorProfileImage}">
                            <span class="font-weight-bold" th:text="${albumInfo.creatorNickname}"></span>
                        </small>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div th:fragment="footer">
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.3.0/simplex-noise.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.5/dat.gui.min.js'></script>
        <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
        <script src="/node_modules/mark.js/dist/jquery.mark.min.js"></script>
        <script src="/custom/js/main.js"></script>
        <script  th:inline="javascript">
            $(function () {
                var token = /*[[${_csrf.token}]]*/ null;
                var header = /*[[${_csrf.headerName}]]*/ null;
                $(document).ajaxSend(function (e, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });
            });
        </script>
    </div>

    <!-- File Pond -->
    <div th:fragment="filepond-css">
        <link rel="stylesheet" property="stylesheet" href="/node_modules/filepond/dist/filepond.min.css"/>
        <link rel="stylesheet" property="stylesheet" href="/node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css"/>
        <link rel="stylesheet" property="stylesheet" href="/node_modules/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.min.css"/>
        <link rel="stylesheet" property="stylesheet" href="/custom/css/filepond.css"/>
    </div>
    <div th:fragment="filepond-js">
        <script src="/node_modules/filepond/dist/filepond.min.js"></script>
        <script src="/node_modules/jquery-filepond/filepond.jquery.js"></script>
        <script src="/node_modules/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script>
        <script src="/node_modules/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script>
        <script src="/node_modules/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.min.js"></script>
        <script src="/node_modules/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js"></script>
        <script src="/node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
        <script src="/node_modules/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.min.js"></script>
        <script src="/node_modules/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.min.js"></script>
        <script src="/node_modules/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script>
        <script src="/node_modules/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.min.js"></script>
        <script src="/custom/js/filepond.js"></script>
    </div>

    <!-- Modal -->
    <div th:fragment="paging-modal(id, title)" class="modal fade" th:id="${id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="width: 400px">
                <div class="modal-header text-center" style="padding-top: 0.8rem; padding-bottom: 0.8rem;">
                    <div class="col-1">
                    </div>
                    <div class="col-10">
                        <h5 class="modal-title font-weight-bold" id="exampleModalLabel" th:text="${title}"></h5>
                    </div>
                    <div class="col-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                </div>
                <div id="modal-pagination" class="modal-footer justify-content-center align-items-center p-0" style="height:50px; font-size:0.7rem">
                </div>
            </div>
        </div>
    </div>

    <script th:fragment="mark(keyword, context)">
        $("[[${context}]]").unmark({
            done: function () {
                $("[[${context}]]").mark("[[${keyword}]]", {
                    "each": function (element) {
                        setTimeout(function () {
                            $(element).addClass("animate");
                        }, 1000);
                    }
                });
            }
        });
    </script>
    <script th:fragment="mouseoverShow(className)">
        $("[[${className}]]").on('mouseover mouseout', function (event){
            if (event.type === 'mouseover') {
                $(this).addClass('show');
                $(this).removeClass('fade');
            } else {
                $(this).addClass('fade');
                $(this).removeClass('show');
            }
        });
    </script>
</body>
</html>