<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="background">
    <nav th:replace="fragments.html:: nav"></nav>
    <div th:if="${account != null && account.role.name() != 'USER'}" class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>&nbsp;
        앨범을 만들고 싶다면 <a class="alert-link" th:href="@{/send-mail-info}">이메일 계정을 인증</a>해주세요.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container" style="padding-top:30px">
        <div id="content" class="row"></div>
        <div id="pagination" class="row justify-content-center mt-3"></div>
    </div>

    <div th:replace="fragments.html::footer"></div>
    <script>
        $(function () {
            home.init();
        });
        const home = {
            init: function () {
                const _this = this;
                let requestObj = {
                    size : 8
                };

                $('#pagination').on('click', '.btn-page', function () {
                    let gotoPage = $(this).attr('data-index');
                    _this.loadAlbums(requestObj, gotoPage);
                });
                home.loadAlbums(requestObj, 0);
            },
            loadAlbums: function (requestObj, page) {
                requestObj.page = page;
                const _this = this;
                const followingCount = parseInt("[[${followingCount}]]");

                if (isNaN(followingCount) || followingCount > 0) {
                    $.ajax({
                        url: '/partial/albums',
                        method: 'GET',
                        data: requestObj,
                    }).done(function (pageObj) {
                        _this._clearContent();
                        _this._appendContent(pageObj);
                    }).fail(function (){
                        alert("앨범들을 로드하는데 실패했습니다.");
                    });
                } else {
                    $.ajax({
                        url: '/partial/suggest-follow',
                        method: 'GET',
                        data: requestObj,
                    }).done(function (pageObj) {
                        _this._clearContent();
                        _this._appendContent(pageObj);
                    }).fail(function (){
                        alert("팔로우 추천리스트를 로드하는데 실패했습니다.");
                    });
                }

            },
            _clearContent: function () {
                $('#content').empty();
                $('#pagination').empty();
            },
            _appendContent: function (pageObj) {
                $('#content').append(pageObj['listHtml']);
                $('#pagination').append(pageObj['paginationHtml']);
            },
        }
    </script>
</body>
</html>

