<nav>
    <ul class="pagination" style="cursor:pointer">
        <li class="page-item" th:classappend="${!albumPages.hasPrevious()} ? disabled">
            <a th:data-index="${albumPages.getPageNumber() - 1}" class="page-link btn-page">
                Previous
            </a>
        </li>
        <li class="page-item" th:each="i: ${pageArray}"
            th:classappend="${albumPages.getPageNumber() == i} ? active">

            <a th:data-index="${i}" class="page-link btn-page" th:text="${i+1}">1</a>
        </li>
        <li class="page-item" th:classappend="${!albumPages.hasNext()} ? disabled">
            <a th:data-index="${albumPages.getPageNumber() + 1}" class="page-link btn-page">
                Next
            </a>
        </li>
    </ul>
</nav>